$tidewater: #C3D7D3;
$marshmallow: #EEE9E0;
$show-stopper: #A42E37;
$reflecting-pool: #7BB1B2;
$parakeet: #B4B05A;
$outgoing-orange: #E6955F;
$open-seas: #83AFBC;
$nurture-green: #98B092;
$notable-hue: #8BA7BB;
$emerald: #498555;
$functional-gray: #ABA39A;
$ember-glow: #D67C56;
$denim: #506B84;
$coral-reef: #D9766C;
$classic-yellow: #F8D492;
$black-fox: #4F4842;
$balanced-beige: #C0B2A2;
$alexandrite: #598C74;
$afternoon: #e1eae7;
$accessible-beige: rgba(112, 128, 144, .2);


::-webkit-input-placeholder {
  color: #9e9e9e;
}

:-moz-placeholder {
  color: #9e9e9e;
}

::-moz-placeholder {
  color: #9e9e9e;
}

:-ms-input-placeholder {  
  color: #9e9e9e;
}


.pagination {
    background: rgba(255, 255, 255, .2);
    display: inline-block;
    padding: 2px 0 0;
    border-radius: 3px;
}

.accountImageDiv {
    display: inline-block;
    float: left;
    width: 50px;
    height: 50px;
}

.accountImage {
    width: 50px;
    height: 50px;
    max-width: 100%;
}

.iconLogoDiv {
    display: inline-block;
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    padding: .5%;
}

.iconLogo {
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: auto;
    -webkit-filter: brightness(300%); 
}

#loggedInUserLogo {
   display: inline-block;
   float: left;
   position: absolute;
   left: 5%;
   padding: 0 20px;     
}



#loggedOutUserLogo {
    display: inline-block;
    float: left;
    position: absolute;
    left: 5%;
    padding: 0 20px;
}

body {
    background-color: $marshmallow;
    text-align: center;
}


.app-title {
    font-family: 'Mystery Quest', cursive;
    font-size: 50px !important;
}


#contact-containter {
    height: 450px;
    overflow: auto;
    background: url(../img/background.jpg) no-repeat center center fixed; 
    display: flex;
    flex-flow: column wrap;
}

#all-contacts-list {
    padding: 15px 35px 15px 25px;
    border: none;

}

#all-contacts-list .avatar .col .m6 {
    width: 45%;
    float: none;
    display: inline-block;
}

#all-contacts-list > li {
    width: 48%;
    border: 10px solid $marshmallow;
    border-top: 5px solid $marshmallow;
    border-bottom: 5px solid $marshmallow;
    margin: 1%;
    background-color: rgba($marshmallow, .96);
}


#all-contacts-list .circle {
    margin: 2.5%;
    width: 42px;
    height: 42px;
}


#all-contacts-list .circlePhoto {
    min-width: 42px;
    min-height: 42px;
    max-width: 100%;
    object-position: 50% 50%;
    object-fit: cover;
}

#all-contacts-list .btn-floating {
    margin: 40%;
}


.labelIcon {
    display: inline;
    vertical-align: middle;
    
}


.circleLarge {
    margin: .5%;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.circleLargePhoto {
    min-width: 60px;
    min-height: 60px;
    max-width: 100%;
    object-position: 50% 50%;
    object-fit: cover;
}

.overlay {
    display: inline-block;
    position: relative;
    left: -15px;
    top: 15px;
    color: white;
    vertical-align: middle;
    padding-top: 6px;
    text-align: center;
}

.circleLargeIcon {
    font-size: 4em;
    min-width: 60px;
    min-height: 60px;
    max-width: 100%;
    object-position: 50% 50%;
    object-fit: cover;
}


.funky-card {
    background: url(../img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#back-to-list {
    margin: 12%;
}

.contact-title {
    margin: 1%;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 60px !important;
}

.card {
    margin-bottom: -20px;
}

.contactDetails p {
    display: block;
    margin: 0;
}

.contactDetails a {
    display: block;
    margin: 0;
}

.secondary-content {
    cursor: default;
}


.funky-card-border {
    background: url(../img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 4px;
  margin-top: 8px;
}


#add-new-contact {
    background-color: rgba($marshmallow, .92);
    padding: 10px;
    width: 92%;
    margin: 2% 4%;

    .disabled {
        background-color: $accessible-beige !important;
        cursor: disabled;
    }

    padding: 2% 5%;
    .row {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}

#add-new-user {
    background-color: rgba($marshmallow, .92);
    padding: 10px;
    width: 92%;
    margin: 2% 4%;

    .disabled {
        background-color: $accessible-beige !important;
        cursor: disabled;
    }

    padding: 2% 5%;
    .row {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

}

#login {
    background-color: rgba($marshmallow, .92);
    padding: 10px;
    width: 92%;
    margin: 2% 4%;

    .disabled {
        background-color: $accessible-beige !important;
        cursor: disabled;
    }

    padding: 2% 5%;
    .row {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

}