<!-- ALL CONTACTS VIEW -->
<div class="row">
  <div class="input-field col s6 offset-s3">
    <i class="material-icons prefix">search</i>
    <input id="search" type="text" ng-model="searchText" placeholder="Search..."required>
  </div>
  <div class="input-field col s2 offset-s1">
    <div class="switch" >
      <label>
        <i class="material-icons labelIcon">list</i>
        <input type="checkbox" ng-click="toggleFilter()">
        <span class="lever"></span>
        <i class="material-icons labelIcon">favorite</i>
      </label>
    </div>
  </div>
</div>

<div class="funky-card" id="contact-containter"> 
<ul id="all-contacts-list" class="collection row">
    <li class="collection-item avatar col m6 z-depth-1" ng-repeat="contact in contacts | filter: searchText" ng-hide="!toggle ? false : contact.isFavorite ? false : true">
      <div class = "circle"><img ng-src="{{contact.image}}" alt="" class="circlePhoto"></div>
      <span class="title col m8"><a ng-href="#/items/details/{{contact.id}}">{{contact.name}}</a> <p>{{contact.phone}}</p>
      <p>{{contact.email}}</p></span>

      
      <a href="#!" class="secondary-content" ng-hide="!contact.isFavorite"><i class="material-icons">favorite</i></a>
      <a href="#!" class="secondary-content" g-hide="contact.isFavorite"><i class="material-icons">favorite_border</i></a>
      <div class="col m2"><button class="btn btn-floating" ng-click="deleteContactItem(contact.id)"><i class="material-icons">delete</i></button></div>
    </li>
</ul>
</div>
<!-- END OF ALL CONTACTS VIEW -->
