
<div class="funky-card-border z-depth-1">
    
  <ul class="pagination">
    <li class="waves-effect" ng-hide="!modeLogin"><a href="/#/register">Register</a></li>
    <li class="active" ng-hide="modeLogin"><a href="/#/register">Register</a></li>
    <li class="waves-effect" ng-hide="modeLogin"><a href="/#/login">Login</a></li>
    <li class="active" ng-hide="!modeLogin"><a href="/#/login">Login</a></li>
  </ul>

  <form ng-hide="modeLogin" id="add-new-user">
         <div class="row">
          <div class="input-field col s9">
            <i class="material-icons prefix">face</i>
             <input type="text" autofocus="true" autocomplete="nope" ng-model="account.firstName">
            <label>First Name</label>
          </div>
          <div class="col s3 file-field" ngf-select ng-model="account.imagePlaceholder" ngf-pattern="'image/*'"
          ngf-accept="'image/*'" ng-change="userImgUpload()">
            <div class="circleLarge z-depth-1" ng-show="userUploadSuccess || userEditMode">
              <img ng-src="{{account.image}}" class="circleLargePhoto">
            </div>
            <div class="circleLarge z-depth-1" ng-show="!userEditMode" ng-hide="userUploadSuccess || userEditMode">
              <img ng-src="./img/default.png" class="circleLargePhoto">
            </div>
            <div class="material-icons btn-floating overlay" ng-show="userEditMode && !userUploadSuccess">edit</div>
            <div class="material-icons btn-floating overlay" ng-show="!userEditMode && !userUploadSuccess">add</div>
            <div class="material-icons btn-floating overlay light-green lighten-2" ng-show="userUploadSuccess">check</div>
          </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">email</i>
              <input type="email" autocomplete="nope" ng-model="account.email">
              <label>Email</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">security</i>
              <input type="password" autocomplete="nope" ng-model="account.password">
              <label>Password</label>
            </div>
        </div>
    
    <button class="btn" ng-click="register()"><i class="material-icons left">person_add</i>Register</button>
        
    </form>


    <form id="login" ng-hide="!modeLogin">
      <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">email</i>
              <input type="email" autofocus="true" autocomplete="nope" ng-model="account.email">
              <label>Email</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">security</i>
              <input type="password" autocomplete="nope" ng-model="account.password">
              <label>Password</label>
            </div>
        </div>

        <button class="btn" ng-click="login()"><i class="material-icons left">person_add</i>Login</button>
    </form>
</div>