::-webkit-input-placeholder {
  color: #9e9e9e; }

:-moz-placeholder {
  color: #9e9e9e; }

::-moz-placeholder {
  color: #9e9e9e; }

:-ms-input-placeholder {
  color: #9e9e9e; }

.pagination {
  background: rgba(255, 255, 255, 0.25);
  display: inline-block;
  padding: 4px 5px 2px 5px;
  border-radius: 3px; }

.pagination .waves-effect {
  padding-bottom: 3px;
  margin-top: -3px;
  background-color: rgba(0, 0, 0, 0.05); }

.accountImageDiv {
  float: left;
  margin: .5%;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle; }

.accountImage {
  width: 50px;
  height: 50px;
  max-width: 100%; }

.iconLogoDiv {
  display: inline-block;
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  padding: .5%; }

.iconLogo {
  min-width: 50px;
  min-height: 50px;
  width: 50px;
  height: auto;
  -webkit-filter: brightness(300%); }

#loggedInUserLogo {
  display: inline-block;
  float: left;
  position: absolute;
  left: 5%;
  padding: 0 20px; }

#loggedOutUserLogo {
  display: inline-block;
  float: left;
  position: absolute;
  left: 5%;
  padding: 0 20px; }

body {
  background-color: #EEE9E0;
  text-align: center; }

.app-title {
  font-family: 'Mystery Quest', cursive;
  font-size: 50px !important; }

#contact-containter {
  height: 450px;
  overflow: auto;
  background: url(../img/background.jpg) no-repeat center center fixed;
  display: flex;
  flex-flow: column wrap; }

#all-contacts-list {
  padding: 15px 35px 15px 25px;
  border: none; }

#all-contacts-list .addContacts li {
  text-align: center;
  width: 96%;
  cursor: pointer; }

#all-contacts-list .addContacts p:nth-of-type(1) {
  font-family: 'Amatic SC', cursive;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  cursor: pointer; }

#all-contacts-list .addContacts p:nth-of-type(2) {
  font-family: 'Amatic SC', cursive;
  font-size: 28px;
  padding: 5px 0;
  text-align: center;
  cursor: pointer; }

#all-contacts-list .addContacts p:nth-of-type(3) {
  font-size: 16px;
  text-align: center;
  color: #EE6E73;
  margin: 2px 10%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 5px; }

#all-contacts-list .addContacts i {
  text-align: center;
  font-size: 40px;
  padding: 0;
  margin-left: -32%;
  cursor: pointer; }

#all-contacts-list .addContacts .btn-floating {
  margin: 3% 0;
  width: 55.5px; }

#all-contacts-list .avatar .col .m6 {
  width: 45%;
  float: none;
  display: inline-block; }

#all-contacts-list > li {
  width: 48%;
  border: 10px solid #EEE9E0;
  border-top: 5px solid #EEE9E0;
  border-bottom: 5px solid #EEE9E0;
  margin: 1%;
  background-color: rgba(238, 233, 224, 0.96); }

#all-contacts-list .addContacts {
  width: 60%;
  margin: 20px 20%; }

#all-contacts-list .circle {
  margin: 2.5%;
  width: 42px;
  height: 42px; }

#all-contacts-list .circlePhoto {
  min-width: 42px;
  min-height: 42px;
  max-width: 100%;
  object-position: 50% 50%;
  object-fit: cover; }

#all-contacts-list .btn-floating {
  margin: 40%; }

.labelIcon {
  display: inline;
  vertical-align: middle; }

.circleLarge {
  margin: .5%;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle; }

.circleLargePhoto {
  min-width: 60px;
  min-height: 60px;
  max-width: 100%;
  object-position: 50% 50%;
  object-fit: cover; }

.overlay {
  display: inline-block;
  position: relative;
  left: -15px;
  top: 15px;
  color: white;
  vertical-align: middle;
  padding-top: 6px;
  text-align: center; }

.circleLargeIcon {
  font-size: 4em;
  min-width: 60px;
  min-height: 60px;
  max-width: 100%;
  object-position: 50% 50%;
  object-fit: cover; }

.funky-card {
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#back-to-list {
  margin: 12%; }

.contact-title {
  margin: 1%;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 60px !important; }

.card {
  margin-bottom: -20px; }

.contactDetails p {
  display: block;
  margin: 0; }

.contactDetails a {
  display: block;
  margin: 0; }

.secondary-content {
  cursor: default; }

.funky-card-border {
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 4px;
  margin-top: 8px; }

#add-new-contact {
  background-color: rgba(238, 233, 224, 0.92);
  padding: 10px;
  width: 92%;
  margin: 2% 4%;
  padding: 2% 5%; }
  #add-new-contact .disabled {
    background-color: rgba(112, 128, 144, 0.2) !important;
    cursor: disabled; }
  #add-new-contact .row {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0; }

#add-new-user {
  background-color: rgba(238, 233, 224, 0.92);
  padding: 10px;
  width: 92%;
  margin: 2% 4%;
  padding: 2% 5%; }
  #add-new-user .disabled {
    background-color: rgba(112, 128, 144, 0.2) !important;
    cursor: disabled; }
  #add-new-user .row {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0; }

#login {
  background-color: rgba(238, 233, 224, 0.92);
  padding: 10px;
  width: 92%;
  margin: 2% 4%;
  padding: 2% 5%; }
  #login .disabled {
    background-color: rgba(112, 128, 144, 0.2) !important;
    cursor: disabled; }
  #login .row {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0; }
