body {
  background-color: #EEE9E0;
  text-align: center; }

#contact-containter {
  height: 450px;
  overflow: auto;
  background: url(../img/background.jpg) no-repeat center center fixed;
  display: flex;
  flex-flow: column wrap; }

#all-contacts-list {
  padding: 15px 35px 15px 25px;
  border: none; }

#all-contacts-list .avatar .col .m6 {
  width: 45%;
  float: none;
  display: inline-block; }

#all-contacts-list > li {
  width: 48%;
  border: 10px solid #EEE9E0;
  border-top: 5px solid #EEE9E0;
  border-bottom: 5px solid #EEE9E0;
  margin: 1%;
  background-color: rgba(238, 233, 224, 0.96); }

#all-contacts-list .circle {
  margin: 2.5%;
  width: 42px;
  height: 42px; }

#all-contacts-list .circlePhoto {
  min-width: 42px;
  min-height: 42px;
  max-width: 100%;
  object-position: 50% 50%;
  object-fit: cover; }

#all-contacts-list .btn-floating {
  margin: 40%; }

.labelIcon {
  display: inline;
  vertical-align: middle; }

.circleLarge {
  margin: .5%;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle; }

.circleLargePhoto {
  min-width: 60px;
  min-height: 60px;
  max-width: 100%;
  object-position: 50% 50%;
  object-fit: cover; }

.funky-card {
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#back-to-list {
  margin: 12%; }

.contact-title {
  margin: 2%; }

.card {
  margin-bottom: -20px; }

.contactDetails p {
  display: block;
  margin: 0; }

.contactDetails a {
  display: block;
  margin: 0; }

.secondary-content {
  cursor: default; }

#add-new-contact {
  background: rgba(123, 177, 178, 0.25);
  padding: 2% 5%; }
  #add-new-contact .row {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0; }
